@charset "UTF-8";
/*@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";*/
.first {
  opacity: 0;
  -moz-animation: anim 3s ease-in-out forwards 50ms;
  -webkit-animation: anim 3s ease-in-out forwards 50ms;
  animation: anim 3s ease-in-out forwards 50ms;
}

.second {
  opacity: 0;
  -moz-animation: anim 3s ease-in-out forwards 400ms;
  -webkit-animation: anim 3s ease-in-out forwards 400ms;
  animation: anim 3s ease-in-out forwards 400ms;
}

.third {
  opacity: 0;
  -moz-animation: anim 3s ease-in-out forwards 1s;
  -webkit-animation: anim 3s ease-in-out forwards 1s;
  animation: anim 3s ease-in-out forwards 1s;
}

.fourth {
  opacity: 0;
  -moz-animation: anim 3s ease-in-out forwards 1.2s;
  -webkit-animation: anim 3s ease-in-out forwards 1.2s;
  animation: anim 3s ease-in-out forwards 1.2s;
}

@-moz-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Style général de la page*/
body {
  margin: 0;
}

#page-index {
  font-family: Roboto, sans-serif;
  background-color: #f0eeee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media all and (min-width: 780px) {
  #page-index {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

a {
  text-decoration: none;
}

.header {
  background: #fff;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 5px 5px 10px #d3d1d1;
  margin: 0;
  width: 100%;
  /*&__page {
      @include flex-center();

  }*/
}
.header__logo {
  width: 160px;
  height: auto;
}
.header__icon {
  position: absolute;
  top: 20px;
  left: 25px;
}
@media all and (min-width: 680px) {
  .header__icon {
    left: 10%;
  }
}
.header__ancre {
  color: black;
}

/* Stle de l'encart description*/
#description {
  background-color: #f0eeee;
  width: 100%;
  margin: 0;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.search-bar {
  height: 40px;
  width: 100%;
  background-color: #d3d1d1;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar__icon {
  padding: 5px 8px;
}
.search-bar__input {
  border: none;
  padding: 4px 8px;
  background-color: #d3d1d1;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  width: 140px;
}
@media all and (min-width: 780px) {
  .search-bar {
    width: 50%;
    border-radius: 0 0 20px 20px;
  }
}

/* Style des explications : explaination */
.explaination {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 25px 0;
}
.explaination__short {
  width: 70%;
  font-size: 23px;
  font-weight: 900;
  margin: 25px 0 10px 0;
}
.explaination__long {
  width: 90%;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 30px 0;
  line-height: 20px;
}
@media all and (min-width: 780px) {
  .explaination {
    width: 70%;
  }
}

/* Style du boutton : button*/
.button {
  position: relative;
  font-style: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  width: 210px;
  color: #fff;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  background: -webkit- linear-gradient(175deg, #FF79DA, #9356DC);
  border: none;
  border-radius: 35px;
  box-shadow: 5px 5px 10px #d3d1d1;
  z-index: 1;
}
.button::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 10px 8px 10px #3a3838;
  background: linear-gradient(175deg, #ffdff6, #c9abee);
  background: -webkit- linear-gradient(175deg, #ffdff6, #c9abee);
  opacity: 0;
  z-index: -1;
  transition: all 200ms ease-in;
}
.button:hover ::after {
  opacity: 1;
}

/* Style de fonctionnement : work */
#work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px;
  background-color: #fff;
  width: 100%;
}

.work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 250px;
}
.work__title {
  font-size: 26px;
  font-weight: 900;
  margin-right: 30%;
}
@media all and (min-width: 680px) {
  .work__title {
    margin-right: 0;
  }
}
.work__bar {
  display: flex;
  width: 310px;
  padding: 5px;
  margin: 5px;
  position: relative;
}
.work__bar--text {
  width: 310px;
  margin: 0;
  background-color: #f0eeee;
  padding: 25px 0 25px 35px;
  box-shadow: 5px 5px 10px #d3d1d1;
  border-radius: 20px;
  transition: background-color 300ms ease-in;
}
.work__bar--text:hover {
  background-color: #e4d5f6;
}
.work__bar--text:hover .work__icon {
  color: #9356DC;
}
.work__icon {
  padding: 0 30px 0 10px;
  color: #9b9a9a;
  font-size: 23px;
  transition: transform 330ms ease-in-out;
}
.work__number {
  background-color: #9356DC;
  color: #fff;
  border-radius: 20px;
  padding: 5px 10px;
  position: absolute;
  top: 30px;
  left: -7px;
}

/*Style de l'encart restaurant*/
.btn {
  border: none;
  padding: 0;
}

.restaurant {
  background-color: #f0eeee;
  width: 100%;
}
.restaurant__title {
  font-size: 26px;
  padding: 20px 0 0 20px;
  font-weight: 900;
  text-align: center;
  margin-right: 37%;
}
@media all and (min-width: 680px) {
  .restaurant__title {
    margin-right: 0;
  }
}
.restaurant__offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px 20px 20px 20px;
}
@media all and (min-width: 780px) {
  .restaurant__offer {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.restaurant__photo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 310px;
  height: 230px;
  border-radius: 20px;
  background-color: white;
  padding-bottom: 5px;
  box-shadow: 5px 5px 10px #d3d1d1;
}
.restaurant__pic {
  width: 310px;
  height: 170px;
  border-radius: 20px 20px 0 0;
}
.restaurant__band {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  border-radius: 20px;
}
.restaurant__name {
  font-size: 16px;
  font-weight: 900;
}
.restaurant__place {
  font-size: 16px;
  font-weight: 200;
}
.restaurant__info {
  font-size: 16px;
  line-height: 8px;
}
.restaurant__love {
  position: relative;
}
.restaurant__ancre {
  color: black;
}
.restaurant__logo {
  width: 90px;
  height: 25px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 16px;
  font-weight: 700;
  background-color: #99E2D0;
  color: #278870;
  text-align: center;
  padding-top: 5px;
}

/* Style du footer */
.footer {
  width: 100%;
  padding: 5px;
  background-color: #3a3838;
  color: #fff;
  font-family: Roboto, sans-serif;
}
.footer__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 17px;
  padding: 30px 0 15px 45px;
}
@media all and (min-width: 768px) {
  .footer__logo {
    margin-left: 10%;
  }
}
.footer__option {
  list-style: none;
  line-height: 30px;
  color: #fff;
  padding-left: 25px;
  margin-top: 0;
}
@media all and (min-width: 768px) {
  .footer__option {
    margin-left: 5%;
  }
}
.footer__icon {
  padding-right: 5px;
}

/* Style général des pages de restaurant*/
#page {
  font-family: Roboto, sans-serif;
  background-color: #f0eeee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

/* Picture + name */
.picture {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.picture__img {
  height: 270px;
  width: 100%;
  object-fit: cover;
}
.picture__band {
  position: absolute;
  top: 290px;
  background-color: #f0eeee;
  width: 100%;
  height: 60px;
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
@media all and (min-width: 680px) {
  .picture__band {
    justify-content: center;
  }
}
.picture__restaurant {
  font-family: "Shrikhand", sans-serif;
  font-size: 26px;
  margin: 0;
}

.dish {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media all and (min-width: 780px) {
  .dish {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
}

/* Style de entrées : starters */
.starter {
  background-color: #f0eeee;
}
.starter__title {
  width: 40px;
  font-size: 16px;
  padding-bottom: 6px;
  border-bottom: 3px solid #99E2D0;
}
.starter__content {
  padding: 20px 0;
}
@media all and (min-width: 780px) {
  .starter__content {
    padding: 20px;
  }
}
.starter__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 340px;
  height: 70px;
  box-shadow: 5px 5px 10px #d3d1d1;
  border-radius: 20px;
  margin: 15px 0 0 0;
  position: relative;
}
.starter__item:hover .starter__explain {
  width: 75%;
}
.starter__item:hover .starter__select {
  opacity: 1;
  transform: scaleX(1);
}
.starter__item:hover .starter__icon {
  transform: rotate(360deg);
}
.starter__item:hover .starter__compo {
  width: 290px;
}
.starter__item:hover .starter__compo__text {
  width: 70%;
}
.starter__item:hover .main__explain {
  width: 75%;
}
.starter__item:hover .main__select {
  opacity: 1;
  transform: scaleX(1);
}
.starter__item:hover .main__icon {
  transform: rotate(360deg);
}
.starter__item:hover .main__compo {
  width: 290px;
}
.starter__item:hover .main__compo__text {
  width: 70%;
}
.starter__item:hover .desert__explain {
  width: 75%;
}
.starter__item:hover .desert__select {
  opacity: 1;
  transform: scaleX(1);
}
.starter__item:hover .desert__icon {
  transform: rotate(360deg);
}
.starter__item:hover .desert__compo {
  width: 290px;
}
.starter__item:hover .desert__compo__text {
  width: 70%;
}
.starter__explain {
  padding-left: 10px;
  line-height: 15px;
  width: 87%;
  transition: all 300ms ease-out 80ms;
}
.starter__name {
  padding: 10px 0 10px 10px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.starter__compo {
  width: 310px;
  height: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
}
.starter__compo__text {
  width: 85%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 0 0 5px;
  padding: 3px;
  transition: all 300ms ease-out 80ms;
  font-weight: 400;
}
.starter__price {
  display: inline;
  float: right;
  align-items: center;
  justify-self: flex-end;
  width: 5%;
  font-weight: 900;
  padding: 3px 3px 3px 8px;
  transition: all 400ms ease-in-out 130ms;
}
.starter__select {
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scaleX(0.1);
  transform-origin: right;
  transition: all 400ms ease-in-out 150ms;
}
.starter__icon {
  color: #fff;
  font-size: 26px;
  padding: 0 20px;
  transition: transform 600ms ease-in-out 140ms;
}

/* Style des palts : main */
.main {
  background-color: #f0eeee;
}
.main__title {
  width: 40px;
  font-size: 16px;
  padding-bottom: 6px;
  border-bottom: 3px solid #99E2D0;
}
.main__content {
  padding: 20px 0;
}
@media all and (min-width: 780px) {
  .main__content {
    padding: 20px;
  }
}
.main__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 340px;
  height: 70px;
  box-shadow: 5px 5px 10px #d3d1d1;
  border-radius: 20px;
  margin: 15px 0 0 0;
  position: relative;
}
.main__item:hover .starter__explain {
  width: 75%;
}
.main__item:hover .starter__select {
  opacity: 1;
  transform: scaleX(1);
}
.main__item:hover .starter__icon {
  transform: rotate(360deg);
}
.main__item:hover .starter__compo {
  width: 290px;
}
.main__item:hover .starter__compo__text {
  width: 70%;
}
.main__item:hover .main__explain {
  width: 75%;
}
.main__item:hover .main__select {
  opacity: 1;
  transform: scaleX(1);
}
.main__item:hover .main__icon {
  transform: rotate(360deg);
}
.main__item:hover .main__compo {
  width: 290px;
}
.main__item:hover .main__compo__text {
  width: 70%;
}
.main__item:hover .desert__explain {
  width: 75%;
}
.main__item:hover .desert__select {
  opacity: 1;
  transform: scaleX(1);
}
.main__item:hover .desert__icon {
  transform: rotate(360deg);
}
.main__item:hover .desert__compo {
  width: 290px;
}
.main__item:hover .desert__compo__text {
  width: 70%;
}
.main__explain {
  padding-left: 10px;
  line-height: 15px;
  width: 87%;
  transition: all 300ms ease-out 80ms;
}
.main__name {
  padding: 10px 0 10px 10px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main__compo {
  width: 310px;
  height: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
}
.main__compo__text {
  width: 85%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 0 0 5px;
  padding: 3px;
  transition: all 300ms ease-out 80ms;
  font-weight: 400;
}
.main__price {
  display: inline;
  float: right;
  align-items: center;
  justify-self: flex-end;
  width: 5%;
  font-weight: 900;
  padding: 3px 3px 3px 8px;
  transition: all 400ms ease-in-out 130ms;
}
.main__select {
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scaleX(0.1);
  transform-origin: right;
  transition: all 400ms ease-in-out 150ms;
}
.main__icon {
  color: #fff;
  font-size: 26px;
  padding: 0 20px;
  transition: transform 600ms ease-in-out 140ms;
}

/* Style des desserts : desert */
.desert {
  background-color: #f0eeee;
}
.desert__title {
  width: 40px;
  font-size: 16px;
  padding-bottom: 6px;
  border-bottom: 3px solid #99E2D0;
}
.desert__content {
  padding: 20px 0;
}
@media all and (min-width: 780px) {
  .desert__content {
    padding: 20px;
  }
}
.desert__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 340px;
  height: 70px;
  box-shadow: 5px 5px 10px #d3d1d1;
  border-radius: 20px;
  margin: 15px 0 0 0;
  position: relative;
}
.desert__item:hover .starter__explain {
  width: 75%;
}
.desert__item:hover .starter__select {
  opacity: 1;
  transform: scaleX(1);
}
.desert__item:hover .starter__icon {
  transform: rotate(360deg);
}
.desert__item:hover .starter__compo {
  width: 290px;
}
.desert__item:hover .starter__compo__text {
  width: 70%;
}
.desert__item:hover .main__explain {
  width: 75%;
}
.desert__item:hover .main__select {
  opacity: 1;
  transform: scaleX(1);
}
.desert__item:hover .main__icon {
  transform: rotate(360deg);
}
.desert__item:hover .main__compo {
  width: 290px;
}
.desert__item:hover .main__compo__text {
  width: 70%;
}
.desert__item:hover .desert__explain {
  width: 75%;
}
.desert__item:hover .desert__select {
  opacity: 1;
  transform: scaleX(1);
}
.desert__item:hover .desert__icon {
  transform: rotate(360deg);
}
.desert__item:hover .desert__compo {
  width: 290px;
}
.desert__item:hover .desert__compo__text {
  width: 70%;
}
.desert__explain {
  padding-left: 10px;
  line-height: 15px;
  width: 87%;
  transition: all 300ms ease-out 80ms;
}
.desert__name {
  padding: 10px 0 10px 10px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.desert__compo {
  width: 310px;
  height: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
}
.desert__compo__text {
  width: 85%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 0 0 5px;
  padding: 3px;
  transition: all 300ms ease-out 80ms;
  font-weight: 400;
}
.desert__price {
  display: inline;
  float: right;
  align-items: center;
  justify-self: flex-end;
  width: 5%;
  font-weight: 900;
  padding: 3px 3px 3px 8px;
  transition: all 400ms ease-in-out 130ms;
}
.desert__select {
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scaleX(0.1);
  transform-origin: right;
  transition: all 400ms ease-in-out 150ms;
}
.desert__icon {
  color: #fff;
  font-size: 26px;
  padding: 0 20px;
  transition: transform 600ms ease-in-out 140ms;
}

/* Style du bouton de commande : order__button */
.order {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 70px 0;
  background-color: #f0eeee;
}

/* Effets et animations */
.hover-heart {
  font-size: 23px;
  padding: 15px 25px 15px 0;
  position: absolute;
  right: 10px;
  bottom: 9px;
  color: transparent;
  -webkit-text-stroke: 2px #3a3838;
  opacity: 0.3;
}
.hover-heart--big {
  font-size: 26px;
  padding-bottom: 7px;
  position: absolute;
  right: 10px;
  bottom: 3px;
}
@media all and (min-width: 680px) {
  .hover-heart--big {
    right: 20%;
  }
}
.hover-heart:hover {
  background: linear-gradient(45deg, #FF79DA, #9356DC 80%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0px;
  opacity: 1;
  transition: all 2s ease-in-out;
}

/* Style de la loading-page */
#loader-wrapper {
  background: linear-gradient(45deg, #ffc6ef, #d5f3eb);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transform: scaleX(0);
  animation: disapear 10s ease-out 1;
}

@keyframes disapear {
  0% {
    transform: translateX(1);
    transform: scaleX(1);
    opacity: 1;
  }
  16% {
    transform: scaleX(1);
  }
  47% {
    opacity: 1;
  }
  100% {
    transform: translateX(-3000px);
    opacity: 0.7;
  }
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9356DC;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF79DA;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #99E2D0;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
