/*@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";*/

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-black: black;
$colour-white: #fff;
$colour-light-background: #f0eeee;
$colour-midark-background: #d3d1d1;
$colour-dark-background: #3a3838;
$colour-dark: #9b9a9a;

$font-super-big: 26px;
$font-big: 23px;
$font-medium: 16px;
$font-small: 12px;


$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;

$main-font: 'Roboto', sans-serif;
$second-font: 'Shrikhand', sans-serif;

@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
    }

@mixin selection () {
    &__explain {
        width: 75%;
    }

    &__select {
        visibility: visible;
        width: 60px;
    }

    &__icon {
        transform: rotate(360deg);
    }

}

@mixin page-display() {

    background-color: $colour-light-background;
   
    &__title {
        width: 40px;
        font-size: $font-medium;
        padding-bottom: 6px;
        border-bottom: 3px solid $colour-tertiary;
    }

    &__content {
        padding: 20px 0;

        @media all and (min-width: 780px) {
            padding: 20px;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: $colour-white;
        width: 360px;
        height: 70px;
        box-shadow: 5px 5px 10px $colour-dark-background;
        border-radius: 20px;
        margin: 15px 0 0 0;
        position: relative;
        

        &:hover {
            .starter {
                @include selection();
            }

            .main {
                @include selection();
            }
            .desert {
                @include selection();
            }
            
        }
    }

    &__explain {
        padding-left: 10px;
        line-height: 15px;
        width: 90%;
        
    }

    &__name {
        padding: 10px;
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__compo{
        width: 100%;
        height: 20px;

       
   
        &__text {
            display: inline;
            float: left;
            width: 85%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin: 0 0 0 10px;
            padding: 3px;
        }
    }
       
    

    &__price {
        display: inline;
        float: right;
        align-items: center;
        width: 5%;
        font-weight: 900;
        padding: 3px;
    }

    &__select {
        visibility: hidden;
        width: 0px;
        border-radius: 0 20px 20px 0;
        background-color: $colour-tertiary;
        height: 100%;
        transition: 400ms ease-in-out 100ms;
             
        
        
    }

    &__icon {
        color: $colour-white;
        font-size: $font-super-big;
        padding: 20px;
        transition: transform 600ms ease-in-out 140ms;
        }
    

}

.first {
    opacity:0;
    -moz-animation: anim 3s ease-in-out forwards 50ms;
    -webkit-animation: anim 3s ease-in-out forwards 50ms;
    animation: anim 3s ease-in-out forwards 50ms;
}

.second {
    opacity:0;
    -moz-animation: anim 3s ease-in-out forwards 400ms;
    -webkit-animation: anim 3s ease-in-out forwards 400ms;
    animation: anim 3s ease-in-out forwards 400ms;
}

.third {
    opacity:0;
    -moz-animation: anim 3s ease-in-out forwards 1s;
    -webkit-animation: anim 3s ease-in-out forwards 1s;
    animation: anim 3s ease-in-out forwards 1s;
}

.fourth {
    opacity:0;
    -moz-animation: anim 3s ease-in-out forwards 1.2s;
    -webkit-animation: anim 3s ease-in-out forwards 1.2s;
    animation: anim 3s ease-in-out forwards 1.2s;
}

@-moz-keyframes anim {
    0%  {opacity:0;}
    100% {opacity:1;}
 }
 @-webkit-keyframes anim {
    0%  {opacity:0;}
    100% {opacity:1;}
 }
 @keyframes anim {
    0%  {opacity:0;}
    100% {opacity:1;}
 }



/* Style général de la page*/

body {
    margin: 0;
}

#page-index {
    font-family: $main-font;
    background-color: $colour-light-background;
    @include flex-center();
    flex-direction: column;

    @media all and (min-width: 780px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

a {
    text-decoration: none;
}




.header {
    background: $colour-white;
    height: 70px;
    @include flex-center();
    width: 100%;
    box-shadow: 5px 5px 10px $colour-light-background;
    margin: 0;

    &__logo {
        width: 160px;
        height: auto;
        
        
        }

    &__icon {
        
        position: absolute;
        top: 35px;
        left: 55px;
    }

    &__ancre {
        color: $colour-black;
    }

    &__page {
        @include flex-center();
        width: 100%;
    }
}


/* Stle de l'encart description*/

#description {
    background-color: $colour-light-background;
    width: 100%;
    height: 270px;
    margin: 0;
    padding-bottom: 30px;
    @include flex-center();
    flex-direction: column;
    text-align: center;

    @media all and (min-width:780px) {
        position: relative;
        width: 48%;
        padding-top: 85px;
        border-right: 2px dotted $colour-secondary;
    }
}

.search-bar {
    height: 60px;
    width: 100%;
    background-color: $colour-midark-background;
    flex-direction: row;
    @include flex-center();
    padding: 0;

    &__icon {
        padding: 5px 8px;
    }

    &__input{
        border: none;
        padding: 4px 8px;
        background-color: $colour-midark-background;
        font-size: $font-medium;
        font-family: $main-font;
        font-weight: 700;
    }

    @media all and (min-width: 780px) {
        position: absolute;
        top: 0;
    }
    
    
}


/* Style des explications : explaination */

.explaination {
    flex-direction: column;
    @include flex-center();
    padding: 10px 0 25px 0;

    &__short {
        width: 70%;
        font-size: $font-big;
        font-weight: 900;
        margin: 25px 0 10px 0;
               
    }

    &__long {
        width: 70%;
        font-size: $font-medium;
        font-weight: 300;
        margin: 0 0 30px 0;
        line-height: 20px;
    }
    

}



/* Style du boutton : button*/

.button {
    font-style: $main-font;
    font-size: $font-medium;
    font-weight: 600;
    height: 50px;
    width: 230px;
    color: $colour-white;
    background-image: linear-gradient($colour-secondary, $colour-primary);
    background-image: -webkit-linear-gradient($colour-secondary, $colour-primary);
    border: none;
    border-radius: 35px;
    box-shadow: 5px 5px 10px $colour-midark-background;
}


/* Style de fonctionnement : work */

#work{
    @include flex-center();
    flex-direction: column;
    padding: 20px 10px;
    background-color: $colour-white;
    width: 100%;

    @media all and (min-width:780px) {
        width: 48%;
        
    }
}

.work {
    @include flex-center();
    flex-direction: row;
    width: 270px;

    &__title {
        font-size: $font-super-big;
        padding-left: 20px;
        font-weight: 900;
        margin-right: 30%;

        @media all and (min-width: 780px) {
            margin: 0 0 35px 0;
        }
        
    }

    &__bar {
       display: flex;
       width: 330px;
       padding: 5px;
       margin: 5px;
       position: relative;
       
       

       &--text{
           width: 330px;
           margin: 0;
           background-color: $colour-light-background;
           padding: 25px;
           box-shadow: 5px 5px 10px $colour-midark-background;
           border-radius: 20px;

           &:hover {
               background-color: $colour-primary;
               opacity: 0.4;
                
            }
        }
    }

    &__icon {
        padding: 0 30px 0 10px;
        color: $colour-dark;
        font-size: $font-big;
        transition: transform 330ms ease-in-out;
    }

    &__number {
        background-color: $colour-primary;
        color: $colour-white;
        border-radius: 20px;
        padding: 5px 10px;
        position: absolute;
        top: 30px;
        left: -7px;
    }
}

/*Style de l'encart restaurant*/


.restaurant {
    background-color: $colour-light-background;
    width: 100%;

    &__title {
        font-size: $font-super-big;
        padding: 20px 0 0 20px;
        font-weight: 900;
        text-align: center;
        margin-right: 37%;

        @media all and (min-width:780px) {
            text-align: center;
            margin-right: 0;
        }
    }

    &__offer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 10px 20px 20px 20px;

        @media all and (min-width:780px) {
            width: 100%;
            height: auto;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__photo {
        display: flex;
        flex-direction: column;
        width: 330px;
        height: 230px;
        border-radius: 20px;
        background-color: white;
        padding-bottom: 5px;
        box-shadow: 5px 5px 10px #949393;
    }

    &__pic {
        width: 330px;
        height: 170px;
        border-radius: 20px  20px 0 0;
    }

    &__band {
        background-color: $colour-white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 10px;
        border-radius: 20px;
    }

    &__name {
        
        font-size: $font-medium;
        font-weight: 900;
    }

    &__place {
        font-size: $font-medium;
        font-weight: 200;
    }

    &__info {
        font-size: $font-medium;
        line-height: 8px;
    }

    &__love {
        font-size: $font-big;
        padding: 15px 25px 15px 0;
        color: $colour-dark;

        &--big {
            padding: 0 0 7px 0;
            font-size: $font-super-big;
        }
    }

    &__ancre {
        color: $colour-black;
    }

   
}


/* Style du footer */

.footer {
    width: 100%;
    padding: 5px;
    background-color: $colour-dark-background;
    color: $colour-white;
    font-family: $main-font;

    &__logo {
        font-family: $second-font;
        font-size: 17px;
        padding: 30px 0 15px 45px;
        
    }

    &__option {
        list-style: none;
        line-height: 30px;
        color: $colour-white;
        padding-left: 25px;
        margin-top: 0;

        
    }

    &__icon {
        padding-right: 5px;
    }
}


/* Style général des pages de restaurant*/

#page {
    font-family: $main-font;
    background-color: $colour-light-background;
    @include flex-center();
    flex-direction: column;
    
}


        /* Picture + name */


.picture {
    margin: 0;
    padding: 0;
    @include flex-center();
    flex-direction: column;
    

    &__img {
        height: 270px;
        width: 420px;
        
    }

    &__band {
        position: absolute;
        top: 290px;
        background-color: $colour-light-background;
        width: 420px;
        height: 60px;
        border-radius: 40px 40px 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        
    }

    &__restaurant {
        font-family: $second-font;
        font-size: $font-super-big;
        margin: 0;

       
    }
}


    /* Style de entrées : starters */

.dish {
    width: 100%;
    @include flex-center();
    flex-direction: column;

    @media all and (min-width: 780px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.starter {
    @include page-display();
}


/* Style des palts : main */

.main {
    @include page-display();
}


/* Style des desserts : desert */

.desert {
    @include page-display();
}



/* Style du bouton de commande : order__button */

.order {
    width: 100%;
    @include flex-center();
    padding: 50px 0 70px 0;
    background-color: $colour-light-background;

    
}


/* Effets et animations */

.fa-heart {
    border-radius: 50%;
    padding:.2em;
}
.fa-heart::before {
    content: "\f004";
    font-weight: bold;
    transition: color 1s ease-out;
    background: $colour-midark-background;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color: transparent;
}

.fa-heart:hover::before{
    background:-webkit-linear-gradient(top right, $colour-primary, $colour-secondary 70%);
    background: linear-gradient(to bottom left, $colour-primary,  $colour-secondary 70%);
    background:-moz-linear-gradient(top right, $colour-primary, $colour-secondary 70%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:-webkit-linear-gradient(top, $colour-secondary, $colour-primary);
    
}

