/*@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";*/

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-black: black;
$colour-white: #fff;
$colour-light-background: #f0eeee;
$colour-midark-background: #d3d1d1;
$colour-dark-background: #3a3838;
$colour-dark: #9b9a9a;
$button-color:  linear-gradient(175deg, $colour-secondary, $colour-primary);

$font-super-big: 26px;
$font-big: 23px;
$font-medium: 16px;
$font-small: 12px;


$main-font: 'Roboto', sans-serif;
$second-font: 'Shrikhand', sans-serif;

@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
    }

@mixin box-shadow {
    box-shadow: 5px 5px 10px $colour-midark-background;
}

@mixin large-box-shadow {
    box-shadow: 10px 8px 10px $colour-dark-background;
}

@mixin linear-gradient {
    background: linear-gradient(45deg, $colour-secondary, $colour-primary 80%);
}

@mixin selection () {
    &__explain {
        width: 75%;
    }

    &__select {
        opacity: 1;
        transform: scaleX(1);
    }

    &__icon {
        transform: rotate(360deg);
    }

    &__compo {
        width: 290px;
    }

    &__compo__text {
        width: 70%;
    }

}


@mixin page-display() {

    background-color: $colour-light-background;
   
    &__title {
        width: 40px;
        font-size: $font-medium;
        padding-bottom: 6px;
        border-bottom: 3px solid $colour-tertiary;
    }

    &__content {
        padding: 20px 0;

        @media all and (min-width: 780px) {
            padding: 20px;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: $colour-white;
        width: 340px;
        height: 70px;
        @include box-shadow;
        border-radius: 20px;
        margin: 15px 0 0 0;
        position: relative;
        
       /* &:hover {
            .starter {
                @include selection();
            }

            .main {
                @include selection();
            }
            .desert {
                @include selection();
            }
            
        }*/
    }

    &__explain {
        padding-left: 10px;
        line-height: 15px;
        width: 87%;
        transition: all 300ms ease-out 80ms;
        
    }

    &__name {
        padding: 10px 0 10px 10px;
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__compo{
        width: 310px;
        height: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
         
   
        &__text {
            width: 85%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin: 0 0 0 5px;
            padding: 3px;
            transition: all 300ms ease-out 80ms;
            font-weight: 400;
        }
    }
       
    

    &__price {
        display: inline;
        float: right;
        align-items: center;
        justify-self: flex-end;
        width: 5%;
        font-weight: 900;
        padding: 3px 3px 3px 8px;
        transition: all 400ms ease-in-out 130ms;
        
    }

    &__select {
        border-radius: 0 20px 20px 0;
        background-color: $colour-tertiary;
        height: 100%;
        @include flex-center();
        opacity: 0;
        transform: scaleX(0.1);
        transform-origin: right;
        transition: all 400ms ease-in-out 150ms;
    }

    &__icon {
        color: $colour-white;
        font-size: $font-super-big;
        padding: 0 20px;
        transition: transform 600ms ease-in-out 140ms;
    }
    

}


/* Style général de la page*/

body {
    margin: 0;
}

#page-index {
    font-family: $main-font;
    background-color: $colour-light-background;
    @include flex-center();
    flex-direction: column;
    margin: auto;
    width: auto;

    
    @media all and (min-width: 780px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

a {
    text-decoration: none;
}




.header {
    background: $colour-white;
    height: 55px;
    @include flex-center();
    width: 100%;
    @include box-shadow;
    margin: 0;
    width: 100%;

    &__logo {
        width: 160px;
        height: auto;
        }

    &__icon {
        position: absolute;
        top: 20px;
        left: 25px;
        @media all and (min-width: 680px) {
            left: 10%;
        }
    }

    &__ancre {
        color: $colour-black;
    }

    /*&__page {
        @include flex-center();
        
    }*/
}


/* Stle de l'encart description*/

#description {
    background-color: $colour-light-background;
    width: 100%;
    margin: 0;
    padding-bottom: 30px;
    @include flex-center();
    flex-direction: column;
    text-align: center;
}

.search-bar {
    height: 40px;
    width: 100%;
    background-color: $colour-midark-background;
    flex-direction: row;
    @include flex-center();
    
    &__icon {
        padding: 5px 8px;
    }

    &__input{
        border: none;
        padding: 4px 8px;
        background-color: $colour-midark-background;
        font-size: $font-medium;
        font-family: $main-font;
        font-weight: 700;
        width: 140px;
    }

    @media all and (min-width: 780px) {
        width: 50%;
        border-radius: 0 0 20px 20px;
    }

}

/* Style des explications : explaination */

.explaination {
    flex-direction: column;
    @include flex-center();
    padding: 10px 0 25px 0;

    &__short {
        width: 70%;
        font-size: $font-big;
        font-weight: 900;
        margin: 25px 0 10px 0;
               
    }

    &__long {
        width: 90%;
        font-size: $font-medium;
        font-weight: 300;
        margin: 0 0 30px 0;
        line-height: 20px;
    }
    
    @media all and (min-width: 780px) {
        width: 70%;
    }

}



/* Style du boutton : button*/
$button-color:  linear-gradient(175deg, $colour-secondary, $colour-primary);
$button-color-light: linear-gradient(175deg, lighten($colour-secondary, 20%), lighten($colour-primary, 20%));

.button {
    position: relative;
    display: inline-block;
    font-style: $main-font;
    font-size: $font-medium;
    font-weight: 600;
    height: 50px;
    width: 210px;
    color: $colour-white;
    background: $button-color;
    background: -webkit-$button-color;
    border: none;
    border-radius: 35px;
    @include box-shadow();
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
            z-index: 2;
        }
    }
    
    &::after {
        content:"";
        position: absolute;
        display: inline-block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include large-box-shadow();
        background: $button-color-light;
        -webkit-background: -webkit-$button-color-light;
        opacity: 0;
        z-index: -1;
        transition: opacity 200ms;
    }

}


/* Style de fonctionnement : work */

#work{
    @include flex-center();
    flex-direction: column;
    padding: 20px 10px;
    background-color: $colour-white;
    width: 100%;

}

.work {
    @include flex-center();
    flex-direction: row;
    width: 250px;

    &__title {
        font-size: $font-super-big;
        font-weight: 900;
        margin-right: 30%;

        @media all and (min-width: 680px) {
            margin-right: 0;
        }
        
    }

    &__bar {
       display: flex;
       width: 310px;
       padding: 5px;
       margin: 5px;
       position: relative;
       
       

       &--text{
           width: 310px;
           margin: 0;
           background-color: $colour-light-background;
           padding: 25px 0 25px 35px;
           @include box-shadow;
           border-radius: 20px;
           transition: background-color 300ms ease-in;

           &:hover {
               background-color: lighten($colour-primary, 30%);
                  .work__icon {
                   color: $colour-primary;
                   
               }
                
            }
        }
    }

    &__icon {
        padding: 0 30px 0 10px;
        color: $colour-dark;
        font-size: $font-big;
        transition: transform 330ms ease-in-out;
    }

    &__number {
        background-color: $colour-primary;
        color: $colour-white;
        border-radius: 20px;
        padding: 5px 10px;
        position: absolute;
        top: 30px;
        left: -7px;
    }
}

/*Style de l'encart restaurant*/

.btn {
    border: none;
    padding: 0;
       
}


.restaurant {
    background-color: $colour-light-background;
    width: 100%;

    
    @media all and (min-width: 1360px) {
        width: 60%;
    }

    @media all and (min-width: 1200px) and (max-width: 1360px) {
        width: 70%;
    }


    &__title {
        font-size: $font-super-big;
        padding: 20px 0 0 20px;
        font-weight: 900;
        text-align: center;
        margin-right: 37%;

        @media all and (min-width: 680px) {
            margin-right: 0;
        }
    }

    &__offer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 10px 20px 20px 20px;

        @media all and (min-width:780px) {
            width: 100%;
            height: auto;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__photo {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 310px;
        height: 230px;
        border-radius: 20px;
        background-color: white;
        padding-bottom: 5px;
        margin: 20px 50px;
        @include box-shadow;
    }

    &__pic {
        width: 310px;
        height: 170px;
        border-radius: 20px  20px 0 0;
    }

    &__band {
        background-color: $colour-white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 10px;
        border-radius: 20px;
    }

    &__name {
        
        font-size: $font-medium;
        font-weight: 900;
    }

    &__place {
        font-size: $font-medium;
        font-weight: 200;
    }

    &__info {
        font-size: $font-medium;
        line-height: 8px;
    }

    &__love {
       position: relative;         
    }

    &__ancre {
        color: $colour-black;
    }

    &__logo {
        width: 90px;
        height: 25px;
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: $font-medium;
        font-weight: 700;
        background-color: $colour-tertiary;
        color: darken($colour-tertiary, 40%);        
        text-align: center;
        padding-top: 5px;
    }

      
}


/* Style du footer */

.footer {
    width: 100%;
    padding: 5px;
    background-color: $colour-dark-background;
    color: $colour-white;
    font-family: $main-font;

    


    &__logo {
        font-family: $second-font;
        font-size: 17px;
        padding: 30px 0 15px 45px;
        @media all and (min-width:768px) {
            margin-left: 10%;
        }
        
    }

    &__option {
        list-style: none;
        line-height: 30px;
        color: $colour-white;
        padding-left: 25px;
        margin-top: 0;
        @media all and (min-width:768px) {
            margin-left: 5%;
        }

        
    }

    &__icon {
        padding-right: 5px;
    }
}


/* Style général des pages de restaurant*/

#page {
    font-family: $main-font;
    background-color: $colour-light-background;
    @include flex-center();
    flex-direction: column;
    margin: auto;
}


        /* Picture + name */


.picture {
    margin: 0;
    padding: 0;
    @include flex-center();
    flex-direction: column;
    

    &__img {
        height: 270px;
        width: 100%;
        object-fit: cover;
    }

    &__band {
        position: absolute;
        top: 290px;
        background-color: $colour-light-background;
        width: 100%;
        height: 60px;
        border-radius: 40px 40px 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        @media all and (min-width: 680px) {
            justify-content: center;
        }
    }

    &__restaurant {
        font-family: $second-font;
        font-size: $font-super-big;
        margin: 0;
     
    }
}

.dish {
    width: 100%;
    @include flex-center();
    flex-direction: column;

    @media all and (min-width: 780px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }
}

/* Style de entrées : starters */

$num-dish: 4;
$anim-duration: 2000ms;
$anim-delay: $anim-duration / $num-dish;

@-moz-keyframes items {
    0%  {opacity:0;}
    100% {opacity:1;}
 }
 @-webkit-keyframes items {
    0%  {opacity:0;}
    100% {opacity:1;}
 }
 @keyframes items {
    0%  {opacity:0;}
    100% {opacity:1;}
 }



.starter {
    @include page-display();
    &__item {
        opacity: 0;
        animation: items $anim-duration ease-in-out forwards;
        -webkit-animation: items $anim-duration ease-in-out forwards;
        @for $i from 1 through $num-dish {
            &--#{$i} {
            animation-delay: $anim-delay * $i;
            -webkit-animation-delay: $anim-delay * $i;
            }
        }

        &:hover {
            .starter {
                @include selection();
            }
           
        }
    }
    
}


/* Style des palts : main */

.main {
    @include page-display();
    &__item {
        opacity: 0;
        animation: items $anim-duration ease-in-out forwards;
        -webkit-animation: items $anim-duration ease-in-out forwards;
        @for $i from 1 through $num-dish {
            &--#{$i} {
            animation-delay: $anim-delay * $i;
            -webkit-animation-delay: $anim-delay * $i;
            }
        }

        &:hover {
            .main {
                @include selection();
            }
            
        }
    }
    
}


/* Style des desserts : desert */

.desert {
    @include page-display();
    &__item {
        opacity: 0;
        animation: items $anim-duration ease-in-out forwards;
        -webkit-animation: items $anim-duration ease-in-out forwards;
        @for $i from 1 through $num-dish {
            &--#{$i} {
            animation-delay: $anim-delay * $i;
            -webkit-animation-delay: $anim-delay * $i;
            }
        }

        &:hover {
            
            .desert {
                @include selection();
            }
            
        }
    }
    
}



/* Style du bouton de commande : order__button */

.order {
    width: 100%;
    @include flex-center();
    padding: 50px 0 70px 0;
    background-color: $colour-light-background;

    
}


/* Effets et animations */

.hover-heart {
    font-size: $font-big;
    padding: 15px 25px 15px 0;
    position: absolute;
    right: 10px;
    bottom: 9px;
    color: transparent;
	-webkit-text-stroke: 2px $colour-dark-background;
	opacity: 0.3;

    &--big {
        font-size: $font-super-big;
        padding-bottom: 7px;
        position: absolute;
        right: 10px;
        bottom: 3px;
        

        @media all and (min-width: 680px) and (max-width: 1200px) {
            right: 20%;
        }

        @media all and (min-width: 1200px){
            right: 30%;
        }
       
    }

    &:hover {
        @include linear-gradient();
        -webkit-background-clip: text;
        -webkit-text-stroke: 0px;
        opacity: 1;
        transition: color 1200ms cubic-bezier(1,.08,.72,.61), opacity 1000ms ease-in 200ms;
    }
            
}


/* Style de la loading-page */

#loader-wrapper {
    background: linear-gradient(45deg, lighten($colour-secondary, 15%), lighten($colour-tertiary, 15%));
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transform: scaleX(0);
    animation: disappear 5s ease-out;
    -webkit-animation: disappear 5s ease-out;
}

@keyframes disappear {
    0% {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        opacity: 1;
    }
    20% {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
    }
    47% {
        opacity: 1;
    }
    100% {
        transform: translateX(-3000px);
        -webkit-transform: translateX(-3000px);
        opacity: 0.7;
    }
  }

  @-webkit-keyframes disappear {
    0% {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        opacity: 1;
    }
    20% {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
    }
    47% {
        opacity: 1;
    }
    100% {
        transform: translateX(-3000px);
        -webkit-transform: translateX(-3000px);
        opacity: 0.7;
    }
  }

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $colour-primary;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

    &::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: $colour-secondary;
        -webkit-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

    &::after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: $colour-tertiary;
        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
    }
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    37% {
        -webkit-transform: rotate(168deg);
        transform: rotate(168deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    37% {
        -webkit-transform: rotate(168deg);
        transform: rotate(168deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}