.header {
    background: $colour-white;
    height: 55px;
    @include flex-center();
    width: 100%;
    @include box-shadow;
    margin: 0;
    width: 100%;

    &__logo {
        width: 160px;
        height: auto;
        font-size: $font-super-big;
        color: black;
        &__link {
            style: none;
            color: black;
        }
        }

    &__icon {
        position: absolute;
        top: 20px;
        left: 25px;
        @media all and (min-width: 680px) {
            left: 10%;
        }
    }

    &__ancre {
        color: $colour-black;
    }

}