/* Style du boutton : button*/

.button {
    position: relative;
    display: inline-block;
    font-style: $main-font;
    font-size: $font-medium;
    font-weight: 600;
    height: 50px;
    width: 210px;
    color: $colour-white;
    border: none;
    border-radius: 35px;
    @include box-shadow();
    overflow: hidden;
    z-index: 0;
    background: $button-color;
    transition: all 400ms;

    &:hover {
        background: $button-color-light;
        @include large-box-shadow();
    }

    &:active {
        transform: translate(0.7px, -1px);
    }
}


    /* Style du bouton coeur */
    .btn {
        border: none;
        padding: 0;
    }

    /* Style du bouton de commande : order__button */

.order {
    width: 100%;
    @include flex-center();
    padding: 50px 0 70px 0;
      
}
