/* Style général des pages de restaurant*/

#page {
    font-family: $main-font;
    background-color: $colour-light-background;
    @include flex-center();
    flex-direction: column;
    margin: auto;
    overflow-x: hidden;
}

/* Picture + name */

.picture {
    margin: 0;
    padding: 0;
    @include flex-center();
    flex-direction: column;
    
    &__img {
        height: 270px;
        width: 100%;
        object-fit: cover;
    }

    &__band {
        position: absolute;
        top: 290px;
        background-color: $colour-light-background;
        width: 100%;
        height: 60px;
        border-radius: 40px 40px 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        @media all and (min-width: 680px) {
            justify-content: center;
        }
    }

    &__restaurant {
        font-family: $second-font;
        font-size: $font-super-big;
        margin: 0;
        @media all and (max-width: 320px) {
            font-size: $font-big;
        }  
    }
}

.dish {
    width: 100%;
    @include flex-center();
    flex-direction: column;

    @media all and (min-width: 780px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }
    @media all and (min-width: 1140px) {
        height: 470px;
        align-items: center;
    }

    @media all and (min-height: 1200px) {
        height: 800px;
        align-items: center;
    }
}


/* Style de entrées : starters */

.starter {
    @include page-display();
    &__item {
        opacity: 0;
        animation: items $anim-duration ease-in-out forwards;
        -webkit-animation: items $anim-duration ease-in-out forwards;
        @for $i from 1 through $num-dish {
            &:nth-child(#{$i}) {
                animation-delay: page-delay($i);
            }
        }

        &:hover {
            .starter {
                @include selection();
            }           
        }
    } 
}   



/* Style des plats : main */

.main {
    @include page-display();
    &__item {
        opacity: 0;
        animation: items $anim-duration ease-in-out forwards;
        -webkit-animation: items $anim-duration ease-in-out forwards;
        @for $i from 1 through $num-dish {
            &:nth-child(#{$i}) {
                animation-delay: page-delay($i);
            }
        }

        &:hover {
            .main {
                @include selection();
            }            
        }
    }    
}


/* Style des desserts : desert */

.desert {
    @include page-display();
    &__item {
        opacity: 0;
        animation: items $anim-duration ease-in-out forwards;
        -webkit-animation: items $anim-duration ease-in-out forwards;
        @for $i from 1 through $num-dish {
            &:nth-child(#{$i}) {
                animation-delay: page-delay($i);
            }
        }

        &:hover {            
            .desert {
                @include selection();
            }            
        }
    }    
}

